/* Font definition*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

/* Scrollbar styling*/
::-webkit-scrollbar {
    height: 0;
    width: 0.5rem;

}

::-webkit-scrollbar-track {
    background: #ffffff;
} 

::-webkit-scrollbar-thumb {
    background: #91f70c;
    border-radius: 5rem;
}

/* Universal selector (Property for all) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Scroll Behaviour of the entire webpage */
html {
    scroll-behavior: smooth;
}


/*Body Section*/

body {
    font-family: 'Source Sans 3', sans-serif;
    background: #ffffff;
    color: #000000;
}

/* ========================================= Start of Header Section ============================================*/

#header {
    width: 100%;
    height: 100vh;
    background-image: url(../DERRY/IMAGES/background-image.jpg);
    background-size: cover;
    background-position: center;
}

.header-container {
    padding: 10px 10%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #91f70c;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-title {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    font-size: 20px;
}

.header-title h2{
    font-weight: 800;
    font-size: 50px;
}
.header-title h1 {
    font-size: 30px;
    margin-top: 20px;
}

.header-title h1 {
    color: #f70c9d;
}
.location{
    color: #f70c9d;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 3opx;
    margin-right: 15px;
    color: #91f70c;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #000000;
    transform: translateY(-5px);
}

/*============================================ End of Header Section ============================================*/

/*============================================ Start of About Me Section =======================================*/
.about-container {
    padding: 10px 10%;
    margin: 0 auto;
}

#about {
    padding: 40px 0;
    background-color:#63a111;
    color: #ffffff;
}

.about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 15px;
}
.about-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-image {
    flex-basis: 35%;
    margin-top: 25px;
}

.about-image img {
    width: 100%;
    border-radius: 15px;
}

.about-text {
    flex-basis: 60%;
}

.title {
    font-size: 60px;
    font-weight: 600;
    color: #000000;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: #000000;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #63a111;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #000000;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
/*============================================================ End of About Me Section ================================*/

/*============================================================ Start of Skills Section =================================*/

.skills-container {
    padding: 10px 10%;
    margin: 0 auto;
}

.skill-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#63a111;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    
}

.skill-column {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar {
    margin-bottom: 2.3rem;
}

.left-column .right-column .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-column .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: #000000;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #63a111;
    border-radius: 25px;
    box-shadow: #868485;
}

.skill-bar .bar .figma {
    width: 75%;
    animation: figma 2s;
}

.skill-bar .bar .css {
    width: 68%;
    animation: css 3s;
}

.skill-bar .bar .python {
    width: 80%;
    animation: python 4s;
}

.skill-bar .bar .javascript {
    width: 60%;
    animation: javascript 5s;
}

.skill-bar .bar .php {
    width: 55%;
    animation: php 2s;
}

.skill-bar .bar .git {
    width: 78%;
    animation: git 3s;
}

.skill-bar .bar .dart {
    width: 50%;
    animation: c 4s;
}

.skill-bar .bar .sql {
    width: 73%;
    animation: sql 5s;
}


/*=============================================================  Projects Section ===================================*/
.project-container {
    padding: 10px 10%;
    margin: 0 auto;
}

#project {
    padding: 50px 0;
    background-color: #63a111;
}

.project-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;

}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgb(31, 30, 30), #63a111);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #ffffff;

}

.layer a {
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #63a111;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.button {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #63a111 ;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.5s;
}

.button:hover {
    background: #91f70c;
}
/*===================================================== End of Projects Section =====================================*/

/*===================================================== Start Of Contact Information ================================*/

.contact-container {
    padding: 10px 10%;
    margin: 0 auto;
}

.contact-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#63a111;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    
}


/*Get in Touch div*/
.get-in-touch {
    flex-basis: 35%;
}

.sub-title {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
}
.get-in-touch form {
    display: flex;
    flex-direction: column;
    width: 100%;

}

form input, form textarea {
    width: 100%;
    border-color: #63a111;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;

}


.button.button2 {
    display: inline-block;
    background: #63a111;
    color: #ffffff;
}

form .button2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/*Contact Me div*/
.contact-me {
    flex-basis: 50%;
    margin-top: 40px;

}

.contact-me p {
    margin-top: 30px;
}


.contact-me p i{
    color: #63a111;
    margin-right: 15px;
    font-size: 25px;
}


/*=================================================== End Of Contact Information =====================================*/

/*=================================================== Start Of Footer Section =======================================*/

#footer {
    padding: 10px 10%;
    margin: 0 auto;
    background-color: #63a111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    height: 50px;
}

footer a {
    display: inline-flex;
    justify-content: center;
    background-color: #ffffff;
    color: #63a111;
    padding: .6rem;
    border-radius: 5px;
}

/*===================================================== End Of Footer Section =======================================*/

/*====================================================== Responsiveness =============================================*/

/* Media Query for Small Screen */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(../DERRY/IMAGES/smallbackground-image.jpg);
    }

    .header-container {
        padding: 10px 5%;
    }

    .header-title {
        margin-top: 100%;
        font-size: 16px;
        align-items: center;
    }

    .header-title h2{
        margin-top: 15px;
        font-size: 30px;
    }

    .header-title h1 {
        font-size: 15px;
        
    }
    
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    
    nav ul {
        background: #63a111;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }

    .title {
        font-size: 30px;
    }

    .about-image, .about-text {
        flex-basis: 100%;
    }

    .about-image {
        margin-bottom: 30px;
    }

    .about-text {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .left-column .right-column .skill-bar .info {
        flex-wrap: wrap;
    }

    .skill-bar{
        width: 100%;
    }

    .layer {
        font-size: 11px;
    }

    .row {
        flex-wrap: wrap-reverse;
    }

    .contact-me {
     margin-top: 15px;
    }

    .get-in-touch, .contact-me {
        flex-basis: 100%;
    }

}


/* Parrallax*/

.scroll-scale {
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}

.scroll-bottom {
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;

}

.scroll-top {
    opacity: 0;
    transform: translateY(-300px);
    transition: 3s;
    
}

.show-items {
    opacity: 1;
    transform: translateX(0);
}

/*================================================== Keyframes ================================================*/

@keyframes figma {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 68%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@keyframes git {
    0% {
        width: 0%;
    }
    100% {
        width: 78%;
    }
}

@keyframes c {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes sql {
    0% {
        width: 0%;
    }
    100% {
        width: 73%;
    }
}

@keyframes glow {
    0% {
        background: #000000;
        box-shadow: none;
    }
    100% {
        background: #63a111;
    }
}
